<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>add</h1>
    <form action="/add" method="post">
        <input type="text" name="contactName" placeholder="Enter your name" required>
        <input type="email" name="email" placeholder="enter your email " required>
        <input type="number" name="number" placeholder="enter your number " required>
        <input type="text" name="text" placeholder="enter tag" required>
        <input type="date" name="lastContacted" required>
        <button type="submit">add</button>
    </form>
    <a href="/">Back</a>
</body>

</html>