<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="/home" method="post">
        <h1>login</h1>
        <input type="email" name="email" placeholder="Enter your email" required>
        <input type="number" name="phone" placeholder="Enter your number" required>
        <input type="password" name="password" placeholder="Enter your password" required>
        <input type="text" name="userName" placeholder="Enter your username" required>
        <input type="text" name="key" placeholder="Enter secret key" required>

        <button type="submit">Add</button>
    </form>
</body>
</html>
